.authorize__register-link {
    text-decoration: none;
    background: transparent;
    margin-top: 400px;
    border: none;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: white;
  }